[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Magenta"]
	path = Magenta
	url = https://github.com/IYStoychev21/Magenta
